@using Baby.AudioData.Entity;
@using Newtonsoft.Json.Linq;
@using Leo.ActivityData.Entity;
@using Leo.WeiXin.Client

@model Dictionary<string, object>
@{
    Layout = null;

    bool isMicromessenger = RequestHelper.Current.Request.UserAgent.ToLower().Contains("micromessenger");

    //通用的错误提示信息
    var errorMsg = !Model.ContainsKey("ErrorMsg") ? "" : Model["ErrorMsg"].ToString();
    var errorCode = !Model.ContainsKey("ErrorCode") ? "" : Model["ErrorCode"].ToString();

    //接口域名前缀
    var hostName = !Model.ContainsKey("ResHostName") ? "" : Model["ResHostName"].ToString();

    //资源域名前缀,正式线上使用CDN域名，否则使用接口域名
    var resHostName = hostName.Replace("https://act.babybus.com", "https://actcdn.babybus.com");

    //活动数据
    var activityInfo = !Model.ContainsKey("ActivityInfo") ? new VipGiftActivity() : (VipGiftActivity)Model["ActivityInfo"];

    //活动状态   1未开始 2进行中 3活动已结束但可以兑换 4活动已结束也不能兑换
    var activityState = 1;
    if (activityInfo.ActivityID > 0 && activityInfo.VipBeginTime >= DateTime.Now)
        activityState = 1;
    else if (activityInfo.ActivityID > 0 && DateTime.Now >= activityInfo.VipBeginTime && activityInfo.VipEndTime >= DateTime.Now)
        activityState = 2;
    else if (activityInfo.ActivityID > 0 && DateTime.Now >= activityInfo.VipBeginTime && DateTime.Now > activityInfo.VipEndTime && activityInfo.GiftEndTime > DateTime.Now)
        activityState = 3;
    else activityState = 4;

    var currGiftNum = activityInfo.GiftAllNum - activityInfo.GiftCurrNum;
    var accountID = Model["AccountID"].ToInt();
    var package = Model["Package"].ToInt();
    var needGoToOrderList = Model["NeedGoToOrderList"].ToInt();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>@activityInfo.Title</title>
    <script src="@resHostName/lib/jquery/dist/jquery.min.js"></script>
    <script src="@resHostName/vipgift/js/tools.js"></script>
    <!-- <script src="@resHostName/vipgift/js/vconsole.min.js"></script> -->
<script>

        var errorCode = '@Html.Raw(errorCode)';     //错误号 ''
        var errorMsg = '@Html.Raw(errorMsg)';      //错误提示信息
        var activityState =@activityState;       //活动状态  1未开始 2进行中 3活动已结束但可以兑换 4活动已结束也不能兑换
        var beginTime = @activityInfo.VipBeginTime.ToStampSecondLong();  //购买会员开始时间
        var endTime = @activityInfo.VipEndTime.ToStampSecondLong();    //购买会员截止时间
        var giftEndTime = @activityInfo.GiftEndTime.ToStampSecondLong();    //兑换截止时间
        var currNow = @DateTime.Now.ToStampSecondLong();    //系统当前时间 毫秒

        var giftNum =@currGiftNum;              //当前公仔数量
        var accountID =@accountID;              //当前登录的帐号ID
        var package =@package;                   //VIP包ID
        var needGoToOrderList=@needGoToOrderList  //是否要跳到订单列表页面, 表示是否是刚才的支付订单

        document.addEventListener('DOMContentLoaded', function () {
            var html = document.documentElement;
            var windowWidth = html.clientWidth;
            html.style.fontSize = windowWidth / 7.5 + 'px';
        }, false);
        $(window).resize(function () {
            var html = document.documentElement;
            var windowWidth = html.clientWidth;
            html.style.fontSize = windowWidth / 7.5 + 'px';
        });
        //var vConsole = new VConsole();
</script>

    <link rel="stylesheet" type="text/css" href="@resHostName/vipgift/css/common.css" />
    <style>
        .container {
            position: relative;
            width: 100vw;
            padding-bottom: 1.46rem;
        }

        .container > img {
            width: 100%;
        }

        .body {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        } 

        .bottom-btn {
            position: fixed;
            height: 1.46rem;
            width: 100vw;
            bottom: 0;
            left: 0;
        }

        .activity-rules {
            width: 100vw;
            padding: 0 0.33rem 0 0.30rem;
            box-sizing: border-box;
            position: absolute;
            top: 11.3rem;
            font-size: 0.24rem;
            color: #fff;
        }

        .activity-rules-title {
            font-size: 0.28rem;
        }

        .activity-rules-content {
            line-height: 0.45rem;
        }

.order-btn {
	position: absolute;
	right: .3rem;
	top: .45rem;
	border-radius: 50%;
	width: 1rem;
	height: .8rem;
}

.rule-btn {
	position: absolute;
	right: .35rem;
	top: 1.7rem;
	border-radius: 50%;
	width: .9rem;
	height: .7rem;
}

  .rules-container {
    width: 7.5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .rules-container .rules-mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5)
  }

  .rules-container .rules-list {
    width: 100%;
    height: 53vh;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    border-radius: .4rem .4rem 0 0;
    box-sizing: border-box;
    padding: .5rem;
    font-size: .28rem;
    color: #434343
  }

  .rules-title {
    font-size: .38rem;
    line-height: .38rem;
    text-align: center;
    font-family: PingFang SC;
    font-weight: 500;
    color: #212121;
    margin-bottom: .4rem
  }

  .rules-item {
    line-height: 1.5;
  }

  .rules-item-wrap {
    height: 82%;
    overflow-y: scroll;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
  }

  .rules-item-wrap::-webkit-scrollbar {
    display: none;
  }

  .close-btn {
    width: .31rem;
    height: .31rem;
    position: absolute;
    right: .42rem;
    top: .33rem
  }
    </style>

</head>

<body style="visibility: hidden;">
    <!-- 埋点数据 -->
    <div style="position: absolute;width:0;height:0;overflow:hidden;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1279349239&web_id=1279349239"></script>
    </div>
    <div class="container">
        <!-- 规则及订单按钮 -->
        <div id="orderBtn" class="order-btn"></div>
        <div onClick="openRules()" class="rule-btn"></div>
        <img id="activeBg" onClick="preventClick" class="index-bg" src="@resHostName/vipgift/img/index-spring-bg1.png" />
        <img id="grayBg" onClick="preventClick" class="index-bg" src="@resHostName/vipgift/img/index-spring-bg1-gray1.png" />
        <img onClick="preventClick" class="index-bg" src="@resHostName/vipgift/img/index-spring-bg2.png" />
        <img onClick="preventClick" class="index-bg" src="@resHostName/vipgift/img/index-spring-bg3.png" />
        <img onClick="preventClick" class="index-bg" src="@resHostName/vipgift/img/index-spring-bg4.png" />
        <img onClick="preventClick" class="index-bg" src="@resHostName/vipgift/img/index-spring-bg5.png" />
        <img onClick="preventClick" class="index-bg" src="@resHostName/vipgift/img/index-spring-bg6.png" />
    </div>
      <!-- 规则弹窗 -->
    <div id="rules-container" class="rules-container" style="display: none;">
        <div class="rules-mask" onClick="closeRules()"></div>
        <div class="rules-list">
            <img class="close-btn" onClick="closeRules()"
                src="@resHostName/vipgift/img/rules-close.png" />
            <p class="rules-title">活动规则</p>
            <div id="rules-item-wrap" class="rules-item-wrap">
                <p class="rules-item">
                1、活动时间：2021.2.4-2021.2.6；
                </p>
                <p class="rules-item">
                2、宝宝巴士的用户在活动期间购买【儿歌畅享VIP】的一年会员，可免费获赠春节版JOJO公仔1个，限量150份，先到先得；
                </p>
                <p class="rules-item" style="color: orange">
                3、公仔领取说明：已成功购买活动套餐的用户，请及时在【订单记录】页点击【填写收件信息领公仔】按钮，填写并成功提交收货地址即可完成申领。
                </p>
                <p class="rules-item">
                4、 由于活动参与人数较多，赠送的公仔会在您提交收件信息后的7个工作日内发出，请您耐心等待；春节期间照常发货，收件地区的快件派送以当地策略为准；
                </p>
                <p class="rules-item" style="color: orange">
                5、付费购买该会员套餐的用户，暂不支持退款退货；
                </p>
                <p class="rules-item">
                6、关于会员使用须知，请参照【常见问题】和【会员服务协议】；
                </p>
                <p class="rules-item">
                7、如果有疑问的地方，可联系VIP会员客服热线1：18059175351；热线2：18050313972
                </p>
                <p class="rules-item">
                8、关于该活动的一切解释权，归宝宝巴士所有。
                </p>
            </div>
        </div>
    </div>
    <!-- 领取按钮 -->
    <img class="bottom-btn" id="endActiveBtn" src="@resHostName/vipgift/img/end-active-btn-new.png" />
    <img class="bottom-btn" id="preHeatBtn" src="@resHostName/vipgift/img/preheat.png" />
    <img class="bottom-btn" id="openBtn" src="@resHostName/vipgift/img/open-btn.gif" />

    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1279349239"]);
        handleDollShow();
        handleBtnShow();
        var aid = getQueryString('aid');

        //获取页面传参
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return decodeURI(r[2]);
            return null;
        }

        var openBtn = document.getElementById("openBtn");
        openBtn.onclick = initTools.debounce(onBtnClick, 500, true);
        var orderBtn = document.getElementById("orderBtn");
        orderBtn.onclick = initTools.debounce(orderBtnClick, 500, true);

        window.onunload = function() {
            console.log('window.onunload');
            @* localStorage.removeItem("tabState"); *@
        };

        function orderBtnClick() {
            if (errorCode === '' && activityState !== 1) {
                try {
                    _czc.push(["_trackEvent", "订单记录", "点击"])
                } catch (error) {
                    console.log(error)
                }
                if (accountID > 0) {
                     @* window.location.href = './VipOrder?aid=' + aid; *@
                    var url = '@hostName/VipGift/VipOrder?aid=' + aid;
                    window.location.href = '?Client=Target&Type=Inner&Url=' + encodeURIComponent(url) + '&Title=订单列表&IsHeader=1&IsNewWindow=1';
                    @* window.location.href = encodeURI('?Client=Target&Type=Inner&Url=./VipOrder?aid='+ aid +'&Title=订单列表&IsHeader=1&IsNewWindow=1'); *@
                } else {
                    window.location.href = '?Client=Login';
                }
            }
        }

        // 规则按钮点击
        function openRules() {
            $('.rules-container').show();
            document.getElementById("rules-item-wrap").scrollTop = 0;
            $('body').addClass('body');
        }

        // 关闭规则弹窗
        function closeRules() {
            $('.rules-container').hide();
            $('body').removeClass('body');
        }

        function handleDollShow() {
            if (giftNum > 0) {
                $('#grayBg').addClass("hidden");
            } else {
                $('#activeBg').addClass("hidden");
            }
        }

        function handleBtnShow() {
            switch (activityState) {
                case 1:
                    // $('#receiveBtn').addClass("hidden");
                    $('#endActiveBtn').addClass("hidden");
                    $('#openBtn').addClass("hidden");
                    break;
                case 2:
                    $('#preHeatBtn').addClass("hidden");
                    $('#endActiveBtn').addClass("hidden");
                    break;
                case 3:
                    $('#preHeatBtn').addClass("hidden");
                    $('#openBtn').addClass("hidden");
                    break;
                case 4:
                    $('#preHeatBtn').addClass("hidden");
                    $('#openBtn').addClass("hidden");
                    break;
                default:
                    $('#preHeatBtn').addClass("hidden");
                    break;
            }
        }

        function onBtnClick() {
            if (errorCode === '' && activityState === 2) {
                try {
                    if (giftNum > 0) {
                        _czc.push(["_trackEvent", "立即领取", "点击"])
                    } else {
                        _czc.push(["_trackEvent", "立即开通", "点击"])
                    }
                } catch (error) {
                    console.log(error)
                }
                if (accountID > 0) {
                    handlePayment();
                } else {
                    window.location.href = '?Client=Login';
                }
            }
        }

        function handlePayment() {
            window.location.href = "?Client=VipPackage&PackageID=" + package + "&CallbackFun=PayVipPackageCallback";
        }

        function PayVipPackageCallback(e) {
      var data = JSON.parse(e);
      if (data.TradeStatus == "1") {
           var url = '@hostName/VipGift/VipOrder?aid=' + aid;
            window.location.href = '?Client=Target&Type=Inner&Url=' + encodeURIComponent(url) + '&Title=订单列表&IsHeader=1&IsNewWindow=1';
        console.log('购买成功');
      } else {
        console.log('购买失败');
      }
    }

        //禁止图片点击
        function preventClick(e) {
            e.stopPropagation()
            e.preventDefault()
            return false;
        }

    </script>

  


</body>

<script>
  $("body").css('visibility', 'visible');
</script>

</html>
